@inject NavigationManager NavManager
@inject CommunityPartnerContactRepository _db
@inject CommunityPartnerRepository _partnerDb
@inject PageNotificationService PageNotificationService
@inject ILogger<CommunityPartnerContactIntakeForm> _logger

<div class="my-4">
    <EditForm Model="@communityPartnerContact" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />

        <div class="form-group">
            <div class="flex flex-wrap mb-6">

                <div class="w-full md:w-1/12 pr-3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Prefix" Variant="@variant">
                        <RadzenTextBox @bind-Value="communityPartnerContact.Prefix" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.Prefix)" />
                </div>

                <div class="w-full md:w-4/12 pr-3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="First Name" Variant="@variant">
                        <RadzenTextBox @bind-Value="communityPartnerContact.FirstName" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.FirstName)" />
                </div>

                <div class="w-full md:w-2/12 pr-3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Middle Name" Variant="@variant">
                        <RadzenTextBox @bind-Value="communityPartnerContact.MiddleName" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.MiddleName)" />
                </div>

                <div class="w-full md:w-4/12 pr-3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Last Name" Variant="@variant">
                        <RadzenTextBox @bind-Value="communityPartnerContact.LastName" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.LastName)" />
                </div>

                <div class="w-full md:w-1/12 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Suffix" Variant="@variant">
                        <RadzenTextBox @bind-Value="communityPartnerContact.Suffix" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.Suffix)" />
                </div>
            </div>

            <div class="flex flex-wrap mb-6">
                <div class="w-full">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Community Partner Name" Variant="@variant">
                        <RadzenDropDown Data=_communityPartnerList @bind-Value="@communityPartnerContact.CommunityPartnerName" Change="@(args => UpdatePartnerFields(args))" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.CommunityPartnerName)" />
                </div>
            </div>

            <div class="flex flex-wrap mb-6">
                <div class="w-full md:w-1/3 pr-3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Office Phone Number" Variant="@variant">
                        <RadzenNumeric @bind-Value="@communityPartnerContact.OfficePhoneNumber" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.OfficePhoneNumber)" />
                </div>

                <div class="w-full md:w-1/3 pr-3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Cell Phone Number" Variant="@variant">
                        <RadzenNumeric @bind-Value="@communityPartnerContact.CellPhoneNumber" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.CellPhoneNumber)" />
                </div>

                <div class="w-full md:w-1/3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Email Address" Variant="@variant">
                        <RadzenTextBox @bind-Value="communityPartnerContact.EmailAddress" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.EmailAddress)" />
                </div>
            </div>

            <div class="flex flex-wrap mb-6">
                <div class="w-full">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Address Line 1" Variant="@variant">
                        <RadzenTextBox @bind-Value="communityPartnerContact.AddressLine1" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.AddressLine1)" />
                </div>
            </div>

            <div class="flex flex-wrap mb-6">
                <div class="w-full">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Address Line 2" Variant="@variant">
                        <RadzenTextBox @bind-Value="communityPartnerContact.AddressLine2" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.AddressLine2)" />
                </div>
            </div>

            <div class="flex flex-wrap mb-6">
                <div class="w-full md:w-1/3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="City" Variant="@variant">
                        <RadzenTextBox @bind-Value="communityPartnerContact.City" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.City)" />
                </div>

                <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="State" Variant="@variant">
                        <RadzenDropDown Data=@states @bind-Value="@communityPartnerContact.State" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.State)" />
                </div>

                <div class="w-full md:w-1/3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Zipcode" Variant="@variant">
                        <RadzenNumeric @bind-Value="@communityPartnerContact.ZipCode" />
                    </RadzenFormField>
                    <ValidationMessage class="text-xs text-danger" For="@(() => communityPartnerContact.ZipCode)" />
                </div>
            </div>

        </div>

        <RadzenButton type="submit" Text="Save" Icon="" ButtonStyle="ButtonStyle.Primary" />
    </EditForm>
</div>

@code {
    private CommunityPartnerContact communityPartnerContact = new CommunityPartnerContact();
    private IEnumerable<CommunityPartnerStorageContractV1>? communityPartners;
    private DataMapper mapper = new DataMapper();
    private string[] states = new string[] { "Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming" };
    private string[]? _communityPartnerList; 
    Variant variant = Variant.Outlined;


    protected override async Task OnInitializedAsync()
    {
        @* communityPartnerContact.initWithTestData(); *@
        communityPartners = await _partnerDb.GetAllAsync();

        if (communityPartners != null) {
            _communityPartnerList = communityPartners.Select(x => x.Name).ToArray()!;
        }
    }

    private void UpdatePartnerFields(object partnerName)
    {
        var partner = communityPartners?.FirstOrDefault(x => x.Name == (string)partnerName);
        if (partner != null)
        {
            communityPartnerContact.AddressLine1 = partner.AddressLine1;
            communityPartnerContact.AddressLine2 = partner.AddressLine2;
            communityPartnerContact.City = partner.City;
            communityPartnerContact.State = partner.State;
            communityPartnerContact.ZipCode = partner.ZipCode;
        }
    }

    private async Task HandleValidSubmit()
    {
        Console.WriteLine("Valid");
        try
        {
            var storageContract = mapper.ToCommunityPartnerContactStorageContractV1(communityPartnerContact);
            await _db.AddAsync(storageContract);
            NavManager.NavigateTo($"/community-partner/{storageContract.CommunityPartnerName}");
        }
        catch 
        {
            PageNotificationService.NotifyErrorOccured();
        }
    }
}
