<div class="my-4">
     <h1 class="text-2xl leading-loose ml-6">Parent/Guardian Information</h1>

    <EditForm Model="@guardian" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
            <div class="form-group p-4 mt-2">
                <div class="flex flex-wrap mb-6">
                    <div class="w-full md:w-1/12 pr-3 mb-6 md:mb-0">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Prefix" Variant="@variant">
                            <RadzenTextBox @bind-Value="guardian.Prefix" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.Prefix)" />
                    </div>

                    <div class="w-full md:w-4/12 pr-3 mb-6 md:mb-0">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="First Name" Variant="@variant">
                            <RadzenTextBox @bind-Value="guardian.FirstName" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.FirstName)" />
                    </div>

                    <div class="w-full md:w-2/12 pr-3 mb-6 md:mb-0">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Middle Name" Variant="@variant">
                            <RadzenTextBox @bind-Value="guardian.MiddleName" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.MiddleName)" />
                    </div>

                    <div class="w-full md:w-4/12 pr-3 mb-6 md:mb-0">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Last Name" Variant="@variant">
                            <RadzenTextBox @bind-Value="guardian.LastName" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.LastName)" />
                    </div>

                    <div class="w-full md:w-1/12 mb-6 md:mb-0">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Suffix" Variant="@variant">
                            <RadzenTextBox @bind-Value="guardian.Suffix" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.Suffix)" />
                    </div>
                </div>

                <div class="flex flex-wrap mb-6">
                <div class="w-full md:w-1/3 pr-3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Cell Phone Number" Variant="@variant">
                        <RadzenNumeric @bind-Value="@guardian.CellPhoneNumber" />
                    </RadzenFormField>
                    <ValidationMessage For="@(() => guardian.CellPhoneNumber)" />
                </div>

                <div class="w-full md:w-1/3 pr-3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Email Address" Variant="@variant">
                        <RadzenTextBox @bind-Value="guardian.EmailAddress" />
                    </RadzenFormField>
                    <ValidationMessage For="@(() => guardian.EmailAddress)" />
                </div>

                <div class="w-full md:w-1/3 mb-6 md:mb-0">
                    <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Relationship" Variant="@variant">
                        <RadzenTextBox @bind-Value="guardian.Relationship" />
                    </RadzenFormField>
                    <ValidationMessage For="@(() => guardian.Relationship)" />
                </div>
            </div>

                <div class="flex flex-wrap mb-6">
                    <div class="w-full">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="AddressLine 1" Variant="@variant">
                            <RadzenTextBox @bind-Value="guardian.AddressLine1" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.AddressLine1)" />
                    </div>
                </div>

                <div class="flex flex-wrap mb-6">
                    <div class="w-full">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Address Line 2" Variant="@variant">
                            <RadzenTextBox @bind-Value="guardian.AddressLine2" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.AddressLine2)" />
                    </div>
                </div>

                <div class="flex flex-wrap mb-6">
                    <div class="w-full md:w-1/3 mb-6 md:mb-0">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="City" Variant="@variant">
                            <RadzenTextBox @bind-Value="guardian.City" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.City)" />
                    </div>

                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="State" Variant="@variant">
                            <RadzenDropDown Data=@states @bind-Value="@guardian.State" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.State)" />
                    </div>

                    <div class="w-full md:w-1/3 mb-6 md:mb-0">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Zipcode" Variant="@variant">
                            <RadzenNumeric @bind-Value="@guardian.ZipCode" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.ZipCode)" />
                    </div>
                </div>

                <div class="flex flex-wrap mb-6">
                    <div class="w-full md:w-1/3 mb-6 md:mb-0">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Is Emergency Contact?" Variant="@variant">
                            <RadzenCheckBox @bind-Value=@guardian.IsEmergencyContact Name="IsEmergencyContact" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.IsEmergencyContact)" />
                    </div>

                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Is Authorized Pickup?" Variant="@variant">
                            <RadzenCheckBox @bind-Value=@guardian.IsAuthorizedPickup Name="IsAuthorizedPickup" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.IsAuthorizedPickup)" />
                    </div>

                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <RadzenFormField class="w-full" AllowFloatingLabel="false" Text="Receive Texts and Emails?" Variant="@variant">
                            <RadzenCheckBox @bind-Value=@guardian.ReceiveUpdates Name="ReceiveUpdates" />
                        </RadzenFormField>
                        <ValidationMessage For="@(() => guardian.ReceiveUpdates)" />
                    </div>
                </div>

                <RadzenButton type="button" Text="Cancel" Icon="" ButtonStyle="ButtonStyle.Danger" Click="HandleCancel"/>
                <RadzenButton type="submit" Text="Save" Icon="" ButtonStyle="ButtonStyle.Primary" />
            </div>
    </EditForm>
</div>
        

@code {   
    [Parameter] public EventCallback<Guardian> OnCompleteGuardianForm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public Guardian? EditGuardian { get; set; }
    private DataMapper mapper = new DataMapper();
    public Guardian guardian = new Guardian();
    private string[] states = new string[] { "Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming" };
    Variant variant = Variant.Outlined;

    protected override void OnParametersSet()
    {
        if(EditGuardian is not null){
            guardian = mapper.Copy(EditGuardian);
        }
    }

    private void HandleValidSubmit()
    {
        if (guardian is not null)
        {
            var result = mapper.Copy(guardian);
            guardian = new Guardian();

            // Pass the edited data back to the parent component
            OnCompleteGuardianForm.InvokeAsync(result);
        }
    }

    private void HandleCancel()
    {
        guardian = new Guardian();
        OnCancel.InvokeAsync();
    }
}